mixin project__new
  .project__new
    h1 Create new project
    form(action='/projects/create', method="post")
      if (error && error.create)
        span.error #{error.create}
      +input('text', '', 'projectname', 'Project Name', '', true)
      +textarea('description', 'Description')
      +input('', '', '', '', '', true)
         +button('Create', true)

mixin project__list
  h1 My Projects
  ul.projects__list
    if (error && error.remove)
      span.error #{error.remove}
    if (error && error.restore)
      span.error #{error.restore}
    if (success && success.removed)
      li.project
        span.project__name The project is removed.
        a.project__restore(href='/projects/restore/' + success.docName) restore
    each val, index in projects
      li.project
        a.project__name(href=val.room.docName)= val.room.name
        a.project__remove(href='/projects/remove/' + val.room.docName)
          .icon
        span.project__lang #{val.room.lang}
        p.project__description= val.room.description
