mixin newProject
  .newproject__form
    h1 Create new project
    form(action='/projects/create', method="post")
      div.form__input
        if (error && error.create)
          p.form__error #{error.create}
        input(type='text', name='projectname', placeholder='Project Name')
      div.form__input
        textarea(name='description', placeholder='Description')
      div.form__input
         +button('Create', true)

mixin myProject
  h1 My Projects
  ul.projects__list
    if (error && error.remove)
      p.form__error #{error.remove}
    if (error && error.restore)
      p.form__error #{error.restore}
    if (success && success.removed)
      li
        span.projects__list_name The project is removed.
        a.projects__list_restore(href='/projects/restore/' + success.docName) restore
    each val, index in projects
      li
        a.projects__list_name(href=val.room.docName)= val.room.name
        a.projects__list_remove(href='/projects/remove/' + val.room.docName)
          .icon
        span.projects__list_lang #{val.room.lang}
        p.projects__list_description= val.room.description
